

body {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;  
    color: #fff;
    background-color: #1B1B1B;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 70px 0px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 45px;
}

.section-title p {
    font-weight: 300;
}

.btn.focus, .btn:focus, .btn:hover {color: #fff;}

/* Home page 
---------------------------------------------------------------------------------*/
.heading-one span{ display: block;}

.header-top-area {background-color: #1B1B1B; padding: 10px 0 10px 0 ; color:#fff;}
.nav>li>a:focus, .nav>li>a:hover {color: #fff; background-color: transparent;}
.navbar-nav>li>a {color: #fff; font-size: 16px; font-weight: 500;}
.menu-custom li a img {height: auto;width: auto; padding-right: 10px;}
.navbar {position: relative;min-height: 50px;margin-bottom: 0px !important;border: 1px solid transparent;}

.header-inner {border-top: 1px solid #707070; border-bottom: 1px solid #707070;}
.logo {padding: 12px 0;}
.logo a {color: #fff; font-size: 20px; font-weight: 500; line-height: 24px; }

.title-section {background-color: #1B1B1B;}
.heading-one h2 {font-size: 32px; color: #fff; font-weight: 300; line-height: 40px; margin: 0; }
.btn-custom a img {width: 26px; height: auto;margin-right: 10px;}
.btn-custom a {color: #fff; font-size: 20px; background-color:rgb(255, 255, 255, 0.1); padding: 10px 15px; }
.btn-custom a:hover {color: #fff !important;}
.btn-custom {display: flex; justify-content: center; align-items: center; align-content: center; margin: 20px 0 0 0;}


.score-section {background-color: #1B1B1B; padding: 30px 0 30px 0;}
.score-inner {min-height: 300px;display: flex; justify-content: center; align-items: center; align-content: center; height: 100%;}
.content {display: flex; justify-content: center; align-items: center; align-content: center; height: 100%; width:100%;}
.content img {width: 100%; height: auto; margin-bottom: 10px;  }

.footer-area {background-color: #1B1B1B; padding: 30px 0 0 0; }
.footer-inner{padding: 30px 0 120px 0; border-top: 1px solid #707070; }
.footer-widget h3 {font-family: 'Roboto', sans-serif; font-size: 18px; color: #ffffff; font-weight: 700; }
.footer-widget ul li a {    font-family: 'Roboto', sans-serif; font-size: 16px; color: #8D8D8D; font-weight: 500; line-height: 30px;}


/* option space */


.profie-section {padding: 20px 0 0 0;}
.profile-pic {position: relative;}
.profile-pic img {height: 93px; width: 93px; border-radius: 100px; position: absolute;}
.profile-details h2 {font-size: 32px; color: #fff; margin: 0; font-weight: 300; line-height: 40px; padding-left: 130px; color: #5B9BC6; padding-top: 30px;}


.optionspace-section {padding: 100px 0;}
.optionspace h3 { font-size: 24px; color: #ffffff; font-weight: 400; margin-bottom: 30px;}
.option-box {min-height: 120px; max-height: 120px; margin-bottom: 30px; background-color: #5B9BC6; padding: 12px 20px 10px 20px; border-radius: 6px;display: flex; justify-content: center; align-items: center; align-content: center; }
.option-box p {font-size: 18px; font-weight: 500; color: #ffffff;line-height: 24px;  margin-bottom: 0;}
.box-gray {background-color: rgb(255, 255, 255, 0.1); }
.box-gray p {font-size: 18px; line-height: 22px; font-weight: 400;color:  rgb(255, 255, 255, 0.3);}
.box-light-gray {background-color: rgb(255, 255, 255, 0.3); }
.box-light-gray p {font-size: 18px; line-height: 22px; font-weight: 400; color: #ffffff;}

.optionspace .col-lg-4 {padding-left: 8px; padding-right: 8px;}
.option-list .col-lg-3 {padding-left: 8px; padding-right: 8px;}

.lisiting-title h2 {font-size: 24px; line-height: 30px; margin-bottom: 38px;}
.contribution-list {border-top: 1px solid #707070; padding: 15px 0;}
.contribution-list:last-child { border-bottom: 1px solid #707070;}
.ratting ul li {width: 8px; height: 24px; padding: 0; margin: 0 4px 0 0; background-color:  rgb(255, 255, 255, 0.2); display: inline-block; border-radius: 3px;}
.ratting ul {margin: 0; padding: 0; }
.ratting { margin-right: 60px; float: left;}
.ratting ul li.filled {background-color: #fff;}
.ratting-title p {font-size: 18px; line-height: 29px;margin-bottom: 0;    font-weight: 400;}


.stratagic-divider {border-top: 1px solid #707070;border-bottom: 1px solid #707070; padding-top: 5px;}
.stratagic-section {margin-top: 100px;}
.startagic-title h2 {font-size: 24px; line-height: 30px; margin-bottom: 38px;}
.startagic-price p {font-size: 18px; font-weight: 500; margin-bottom: 0px;}
.startagic-price h3 {font-size: 24px; font-weight: 600; margin: 0 0 10px 0;}
.startagic-list p {font-size: 18px; font-weight: 500; margin-bottom: 5px;}

.startagic-btn .btn-primary  {font-size: 18px; font-weight: 500; background-color: #5B9BC6; border-color: #5B9BC6; margin-top: 10px;  transition: all .5s ease-in-out;}
.startagic-btn { display: flex; justify-content: flex-end;}
.startagic-btn .btn-primary:hover {background-color: #65ACDB; border-color: #65ACDB;}
.btn-primary:not(:disabled):not(.disabled):active, .startagic-btn .btn-primary:focus  {background-color: #4E83A7; border-color: #4E83A7;}

.title-yellow h2 {color: #F69721;}
.option-box-yellow {background-color: #F69721; }
.startagic-btn .btn-yellow {background-color: #F69721; border-color: #F69721; transition: all .5s ease-in-out;}
.startagic-btn .btn-yellow:hover {background-color: #F8A339; border-color: #F8A339;}
.startagic-btn .btn-yellow:focus, .btn-yellow:not(:disabled):not(.disabled):active {background-color: #D1801B; border-color: #D1801B;}

.title-pink h2 {color: #C33A5A;}
.box-pink {background-color: #C33A5A;}
.startagic-btn .btn-pink {background-color: #C33A5A; border-color: #C33A5A;  transition: all .5s ease-in-out;}
.startagic-btn .btn-pink:hover {background-color: #E3446A; border-color: #A7304C; }
.btn-pink:focus, .btn-pink:not(:disabled):not(.disabled):active {background-color: #A7304C; border-color: #A7304C; }

.title-green h2 {color: #47995D;}
.box-green {background-color: #47995D;}
.startagic-btn .btn-green {background-color: #47995D; border-color: #47995D; transition: all .5s ease-in-out; }
.startagic-btn .btn-green:hover {background-color: #57BC72; border-color: #57BC72; }
.btn-pink:focus, .btn-green:not(:disabled):not(.disabled):active {background-color: #397C4B; border-color: #397C4B; }


/* Dashboard option*/

.border-round {border: 1px solid rgb(255, 255, 255, 1); border-radius: 6px; padding: 50px;}
.dashboard-option {padding: 50px;}
.dashboard-option .heading-one h2 {margin-bottom: 30px; font-size: 26px; line-height: 34px;}
.title {margin-bottom: 64px;}
.title h3 {font-size: 13px; font-weight: 500; text-decoration: underline;}
.title h3 span {display: block;}
.list-content-right h2 {font-size: 25px; font-weight: 500; margin-bottom: 22px; }

.option-list-tab ul {margin: 0; padding: 0;}
.option-list-tab ul li {margin: 0 0 20px 0; padding: 0; display: inline-block;}
.option-list-tab ul li a {padding: 20px 20px; font-size: 16px; display: inline-block;   font-family: 'Roboto', sans-serif;   border-radius: 5px; border: 1px solid  rgb(255, 255, 255, 0.3); font-weight: 400; line-height: 20px; color: rgb(255, 255, 255, 0.3);}
.option-list-tab ul li a .fa {margin-right: 15px; font-size: 12px;  margin-top: -6px;} 
.option-list-tab ul li a:hover, .option-list-tab ul li a:focus, .option-list-tab ul li a:active {border: 1px solid rgb(255, 255, 255, 1);   color: rgb(255, 255, 255, 1); transition: all 0.5s; box-shadow: none; outline: none;}
.option-list-tab ul li a:hover .fa, .option-list-tab ul li a:active .fa, .option-list-tab ul li a:focus .fa { color: rgb(255, 255, 255, 1);}
.option-list .option-box {text-align: center; min-height: 62px; max-height: 62px;}
.option-list .option-box p { font-size: 16px; line-height: 23px; font-family: 'Roboto Slab', serif; font-weight: 400;    padding: 10px; margin-bottom: 0;}

.btn-white {border: 1px solid rgb(255, 255, 255, 0.7);   color: rgb(255, 255, 255, 0.7);  font-family: 'Roboto Slab', serif;}
.btn-white:hover, .btn-white:focus {border: 1px solid rgb(255, 255, 255, 1);   color: rgb(255, 255, 255, 1); transition: all 0.5s; box-shadow: none; outline: none;}

.content-message {min-height: 300px;}


/* chcekbox */
.container1 {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px; 
    background-color: transparent;
    border: 1px solid #fff;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: none;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* Responsive Design */

.header-top-area li.nav-item {  padding: 0 15px; }
.header-top-area .navbar-nav.menu-custom { justify-content: flex-end; width: 100%; }
.header-top-area li.nav-item { padding: 0 0px 0 30px; }















/* New */
.btns {width: 20px; height: auto}


.ratting-btn  {display: flex; flex-direction: row; align-items: center; justify-content: center;}
.ratting-btn ul {display: flex;}
.ratting-btn ul li {display: inline-block;}
.ratting-btn ul li:nth-child(1) {margin-left: 10px; }
.ratting-btn ul li:nth-child(3) {margin-right: 10px;}
.ratting-btn ul li:nth-last-child(1){margin-right: 10px}


@media (max-width: 767px) {
    .navbar-toggle {background: transparent !important;}
    .heading-one h2 {font-size: 42px; line-height: 45px;}
    .btn-custom {justify-content: center; min-height: 120px;}
    .profile-details h2 {font-size: 23px;line-height: 45px; margin: 0; }
    .optionspace .col-lg-4 {padding-left: 15px; padding-right: 15px;} 

    .option-list .col-lg-3 {padding-left: 15px; padding-right: 15px;}

    .ratting-title p {font-size: 16px; }
    .ratting { margin-right: 30px; }
    .col-sm-line {border-bottom: 1px solid #707070; padding-bottom: 10px; margin-bottom: 12px;}
    .startagic-btn {
        justify-content: center;
        margin-bottom: 10px;
    }
    .option-box {
        min-height: 90px;
        max-height: 90px;
        margin-bottom: 12px;
    }




    button.navbar-toggler {
        position: absolute;
        top: -43px;
        right: 0;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        border: none;
        padding: 0;
    }
    .header-top-area .navbar-nav.menu-custom {
        justify-content: center;
        width: 100%;
        padding: 0px 0 0px 0;
    }
    .header-top-area li.nav-item {
        padding: 15px 0px 15px 0px;
        margin: 0 0 0px 0;
        border-bottom: 1px solid #ffffff3d;
    }
    .navbar {
        min-height: 0px;
        padding: 0 !important;
    }
}



/* modal popup */

.modal-vista .modal-content { background-color: #1b1b1b; }
.modal-vista .modal-header {border: 0;}
.modal-vista .modal-footer {border: 0;}

.modal-vista .modal-header .close {color: #fff; opacity: 1; font-weight: 300; font-size: 26px;}
.modal-vista .modal-header .close:focus {box-shadow: none;border: 0; outline: none;} 
.modal-vista .modal-header h4 { font-weight: 300 !important;}

.modal-vista .modal-dialog {max-width: 800px;}
.modal-vista .modal-body {padding: 0 50px 50px 50px;}

.modal-form .form-group h3 {font-weight: 300 !important; font-size: 22px;}
.modal-form .form-control {background-color: #1B1B1B; border: 0; font-size: 32px; color: #5B9BC6; padding: 10px 0; font-weight: 300;}
.modal-form .form-control:focus {box-shadow: none;}

.modal-form h2 {font-size: 32px; color: #5B9BC6; padding: 10px 0; font-weight: 300; line-height: 42px;}
.modal-form h2 {box-shadow: none; outline: none;}

.option-form-list {margin-top: 70px; margin-bottom: 60px; }
.option-form-list .contribution-list .col-sm-line {display: flex; justify-content: space-between; }
.option-form-list .contribution-list .ratting {margin-right: 0;}
.option-form-list .contribution-list .ratting-list { float: none; margin-right: 0; }
.option-title {display: flex;}

.btn-color {width: 15px; height: 15px; border-radius: 100px; background-color: #F69721; padding: 0;}
.option-title .dropdown {margin-right: 15px; margin-top: 3px;}
.dropdown-menu.show {background-color: #fff;padding: 10px 5px;margin: 0;min-width: auto;border: 1px solid #fff;}
.color-select {padding: 0;margin: 0 0 0px 0;width: auto;clear: both;display: inline-block;background-color: #1B1B1B;}
.color-select span {background-color: #f69721;height: 15px;width: 15px;display: inline-block; float: left; border-radius: 100%;}

.ratting-title .form-control {background-color: #1B1B1B; border: 0;   padding: 0;  font-size: 18px;line-height: 29px;margin-bottom: 0; font-weight: 400; color: #fff;}
.option-title .dropdown-menu .dropdown-item.active,  .option-title .dropdown-menu .dropdown-item:active, .option-title .dropdown-menu .dropdown-item:hover 
{color: #fff;text-decoration: none;background-color: #1B1B1B !important;}

.option-title .dropdown-menu.show {background-color: #1B1B1B !important; top: 2px !important; left: -5px !important;}
.btn-color.color-select1{ background-color: #f69721; }
.btn-color.color-select2{ background-color: #5b9bc6; }
.btn-color.color-select3{ background-color: #c33a5a; }
.btn-color.color-select4{ background-color: #47995d; }

.btn-color.color-select1,  .color-select1 span{ background-color: #f69721; }
.btn-color.color-select2,  .color-select2 span{ background-color: #5b9bc6; }
.btn-color.color-select3,  .color-select3 span{ background-color: #c33a5a; }
.btn-color.color-select4,  .color-select4 span{ background-color: #47995d; }


.price-text {margin-top: 30px; margin-bottom: 50px;}
.option-heading {margin-bottom: 30px;}
.option-heading h3 {font-size: 24px; font-weight: 500;}
.modal-backdrop.show {opacity: .7;}


/* end modal */


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .btn-custom {justify-content: center; padding: 20px;}

    .dashboard-option {
        padding: 0;
    }
    .border-round {padding: 15px;}
    .option-list-tab ul li a {margin-right: 15px;}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

    .option-list-tab ul li a {
        margin-right: 12px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .profile-details h2 {font-size: 32px; }
    .btn-custom {justify-content: center; min-height: 100px;}

  
}


@media (min-width: 1200px) {
    .container { width: 1230px;}
  
}

@media (min-width: 1600px) {
    .container { max-width: 1640px;
    width: 100%;}
}

/* @media (min-width: 1900px) {
    .container { width: 1900px;}
} */


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .option-box {
        min-height: 150px;
        max-height: 150px;
        word-break: break-word;
    }
    .option-box p {font-size: 17px;}
 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}